body {
    background-color: pink;
}

h1 {
    text-decoration-line: underline;
    text-align: center;
    position: relative;
    top: 100px;
}

img {
    position: relative;
    top: 100px;
    left: 400px;
    border: 20px solid crimson;
}

#contact {
    text-decoration-line: underline;
    text-align: center;
    position: relative;
    top: 200px;
}

#navigation {
    position: fixed;
    right: 0px;
    top: 0px;

}

.abs1 {
    position: relative;
    right: 30px
}

.abs2 {
    position: relative;
    right: 20px;
}

.abs3 {
    position: relative;
    right: 10px;
}

header {
    border-bottom: 5px solid navy;
}

footer {
    border-top: 5px solid navy;
}

